<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Custom Web Page{% endblock %}</title>
    <link rel="stylesheet" href="/assets/urugano/css/style.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
    <style>
        [x-cloak] { display: none !important; }
    </style>
</head>
<body class="min-h-screen flex flex-col">

     <header class="bg-white shadow fixed w-full z-50">
        <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
            <a href="/" class="text-xl font-bold text-blue-600">Urugano Realty</a>
            <nav class="space-x-4 hidden md:flex items-center">
                <a href="/listings" class="text-gray-700 hover:text-blue-600">Listings</a>
                <a href="/roommates" class="text-gray-700 hover:text-blue-600">Roommates</a>
                <a href="#login" class="p-[0.5px] hover:bg-gray-300 rounded-full">
                    <img src="/assets/urugano/img/circle-user-round.svg" alt="">
                </a>
            </nav>

            <div x-data="{ open: false }" class="relative cursor-pointer md:hidden">
                <img @click="open = !open" x-bind:src="open? '/assets/urugano/img/circle-chevron-up (1).svg' : '/assets/urugano/img/circle-ellipsis (1).svg'" class="md:hidden" alt="">
                <div x-show="open" x-transition x-cloak class="absolute right-0 mt-2 py-2 px-4 bg-white shadow rounded-md space-y-2">
                    <a href="/listings" class="text-gray-700 hover:text-blue-600">Listings</a>
                    <a href="/roommates" class="text-gray-700 hover:text-blue-600">Roommates</a>
                    <a href="#login" class="text-gray-700 hover:text-blue-600">
                        <img src="/assets/urugano/img/circle-user-round.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!-- Spacer for fixed header -->
    <div class="h-20"></div>

    <main class="flex-grow">
        {% block page_content %}
        <!-- Page content goes here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-white border-t mt-12">
        <div class="max-w-7xl mx-auto px-4 py-6 text-center text-sm text-gray-500">
        &copy; 2025 Urugano Realty. All rights reserved. | <a href="#" class="text-blue-600">Privacy Policy</a>
        </div>
    </footer>

    {% block js_content %}
        <!-- js content goes here -->
    {% endblock %}
</body>
</html>
